<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.ContentMapper">
  <select id="findPage" parameterType="contentVo" resultType="contentVo">
 SELECT c.*,o.categoryname AS oname FROM content c,contentcategory o
 <where>
 c.`contentcategoryid`=o.`contentcategoryid`
 <if test="contenttitle!=null and contenttitle!=''">
 and c.contenttitle like '%${contenttitle}%'
 </if>
 <if test="contentcategoryid!=null and contentcategoryid!=0">
  and c.contentcategoryid=#{contentcategoryid}
 </if>
 </where>
</select>

<select id="findecharts" resultType="contentVo">
 SELECT COUNT(c.contentcategoryid)AS num,o.categoryname AS oname FROM content c,contentcategory o WHERE c.`contentcategoryid`=o.`contentcategoryid` GROUP BY o.`categoryname`
</select>
</mapper>